/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-noobs-block-noobs-heading {
	.noobs-heading-left {
		text-align: left;
	}

	.noobs-heading-center {
		text-align: center;
	}

	.noobs-heading-right {
		text-align: right;
	}

}
